.signInPageContainer {
    background-color: #eef2f6;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signInFormContainer {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    @media screen and (max-width: 1200px) {
      width: 40%;
    }
  
    @media screen and (max-width: 850px) {
      width: 60%;
    }
  
    @media screen and (max-width: 550px) {
      width: 90%;
    }
  }
  
  .signInPageContent {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
    align-items: center;
  }
  
  .signInInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  
    h2 {
      color: #1876d1;
    }
  
    p {
      margin-top: 15px;
      color: #687585;
    }
  }
  
  .MuiAlert-icon {
    margin-left: 12px !important;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  
    button[type="submit"] {
      margin: 10px 0px !important;
    }
  
    a {
      padding: 10px 0px;
      font-size: 15px;
      text-decoration: none;
      width: auto;
    }
  }
  
  .formTextField > * {
    width: 100%;
  }
  
  form > * {
    width: 100%;
    margin: 10px 0px 5px 0px;
  }
  